
<%= image_tag "ninpu.jpg", :size =>'335x375' %>

<br>
<%= link_to "ユーザー登録", new_user_session_path, class: "btn btn-outline-primary" %>
<br>
<br>
<p>出産直近のママの陣痛が来たときに、繋がり登録した相手にLINEでお知らせするアプリです。</p>
<p>すでに陣痛計測アプリは存在するのですが、LINEで相手にお知らせする</p>
<p>機能があるアプリは見たことがありません。</p>
</br>
<p>コロナ禍で出産の立ち会いができないの病院があります。そんな時でも</p>
<p>繋がり登録した相手と一緒に気持ちの共有し、一緒に新しい命の誕生を喜び合えるアプリです。</p>
</br>
<p>本アプリは、ボタン押すだけで簡単「陣痛きたかも？」と送信してくれます。</p>
<p>陣痛で何もできないママでも簡単にメッセージを送れます。</p>


