<p id="notice"><%= notice %></p>

<h2>
  <strong>送信済みEmailアドレス</strong>
  <%= @partner.email %>
</h2>

<h2>
  <strong>あなたへの招待コードは</strong>
  <%= @partner.certification_code %>
</h2>

<br>
<br>
<%= link_to 'パートナー登録へ戻る', partners_path, class: "btn btn-primary"%>
