<h2>
  <strong>送信済みEmailアドレス</strong>
  <%= @partner.email %>
</h2>

<h2>
  <strong>あなたへの招待コードは</strong>
  <%= @partner.certification_code %>
</h2>

<br>
<br>
<%= link_to '初期設定登録ページへ戻る', partners_path, class: "btn btn-outline-primary" %>
