<h1>承認確認</h1>
  

      <% @app_users.each do |user| %>
        <div class = "center_tag" >
        <p>繋がりコードを送った方から、承認申請が届きました</p>
          <p><%= link_to "承認", allow_partners_path(partners_id: user.app_id), method: :post, class: "btn btn-outline-primary" %></p>
          <p><%= link_to "拒否", allow_partners_path(partners_id: user.app_id), method: :delete, class: "btn btn-outline-primary "%></p>
        </div>
    <% end %>
    
