<h1>紹介コード認証</h1>
<%= form_with(model: @request, local: true) do |f| %>
  <%= f.text_field :certification_code, placeholder: "紹介コード"%>
  <%= f.submit "送信" %>
<% end %>
<br>
<div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="@573vlsit" style="display: none;"></div>
<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

