<h1>ママの陣痛待機室</h1>

    <%= form_with(url: push_text_mains_path, local: true, method: :posts, class: "search-form") do |f| %>
      <div class="search-button">
        <%= image_submit_tag("kitakamo.png", class: 'search-icon') %>
      </div>
    <% end %>
  <br>
  <br>
  
  <br>
  <br>
  <%= @jintsu_start_time&.strftime('%Y/%m/%d %H:%M:%S') %>
  <br>
  <br>
  <%= link_to '初期設定登録ページ登録へ戻る', partners_path, class: "btn btn-outline-primary" %>
