<h1>ママの陣痛待機室</h1>
  <%= button_to "陣痛きたかも？", push_text_mains_path, {method: :posts} %>
  <br>
  <br>
  <%= image_tag "taiji.png", :size =>'200x300' %>
  <br>
  <br>
  <h3><%= @jintsu_start_time&.strftime('%Y/%m/%d %H:%M:%S') %><h3>
  <br>
  <br>
  <%= link_to '初期設定登録ページ登録へ戻る', partners_path, class: "btn btn-outline-primary" %>
